<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <style>
        * {
            box-sizing: border-box
        }

        .board_cell {
            width: 2em;
            height: 2em;
            display: inline-block;
            border: solid #000;
            border-width: 1px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .board {
            margin: 0;
            padding: 0;
        }

        .non_exploded {
            background-color: lightgrey;
        }

        .non_exploded:hover {
            background-color: grey;
        }

        .exploded {
            background-color: red;
        }

        .exploded:hover {
            background-color: rgb(214, 0, 0);
        }

        table#board {
            table-layout: auto;
            width: 100%;
            padding: 0;
            margin: 0;
            border-spacing: 0;

            * {
                padding: 0;
                margin: 0;
            }
        }
    </style>
    <script>
        let url = 'http://localhost:8080/';
        let board;
        let playing = false;
        const winState = {
            LOSS: -1,
            NONE: 0,
            WIN: 1
        };
        let colourIntervalID = 0;

        let colourSplash = (cells) => {
            playing = false;
            let reps = 100;
            let x = 0;
            intervalID = setInterval(() => {
                cells.forEach(cell => {
                    cell.classList.remove('non_exploded');
                    cell.style.backgroundColor = `rgb(${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)})`;
                });
                if (++x >= reps) {
                    clearInterval(colourIntervalID);
                    colourIntervalID = 0;
                }
            }, 100);
        };

        let httpPostAsync = (url, body, callback) => {
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = () => {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.response);
            };
            xmlHttp.open('PUT', url, true);
            xmlHttp.responseType = 'json';
            xmlHttp.send(JSON.stringify(body));
        };

        let onBoardCellLeftClick = e => {
            e.preventDefault();
            if (!playing) return;
            let cell = e.target;
            if (e.target.innerHTML) return;
            let x = e.target.getAttribute('x');
            let y = e.target.getAttribute('y');
            httpPostAsync(url + 'reveal', {
                'x': x,
                'y': y
            }, (res) => {
                let response_board = res.board;
                let cells = [...board.getElementsByClassName('board_cell')];
                cells.forEach(cell => {
                    cell.innerHTML = response_board[cell.getAttribute('y')][cell.getAttribute('x')];
                });
                if (res.win_state == winState.LOSS) {
                    playing = false;
                    cell.classList.remove('non_exploded');
                    cell.classList.add('exploded');
                } else if (res.win_state == winState.WIN) {
                    colourSplash(cells);
                }
            });
        };

        let onBoardCellRightClick = e => {
            e.preventDefault();
            if (!playing) return;
            if (!e.target.innerHTML || isNaN(e.target.innerHTML)) {
                let x = e.target.getAttribute('x');
                let y = e.target.getAttribute('y');
                httpPostAsync(url + 'flag', {
                    'x': x,
                    'y': y
                }, (res) => {
                    let response_board = res.board;
                    let cells = [...board.getElementsByClassName('board_cell')];
                    cells.forEach(cell => {
                        cell.innerHTML = response_board[cell.getAttribute('y')][cell.getAttribute('x')];
                    });
                    if (res.win_state == winState.WIN) {
                        colourSplash(cells);
                    }
                });
            }
        };

        let createNewBoard = () => {
            if(colourIntervalID)clearInterval(colourIntervalID);
            let width = document.getElementById('width').value;
            let height = document.getElementById('height').value;
            let mines = document.getElementById('mines').value;
            httpPostAsync(url + 'new', {
                'height': height,
                'width': width,
                'mines': mines
            }, (res) => {
                board.innerHTML = '';
                for (let rows = 0; rows < res.height; ++rows) {
                    let row = document.createElement('tr');
                    for (let cols = 0; cols < res.width; ++cols) {
                        let cell = document.createElement('td');
                        let button = document.createElement('div');
                        button.setAttribute('x', cols);
                        button.setAttribute('y', rows);
                        button.classList.add('board_cell');
                        button.classList.add('board');
                        button.classList.add('non_exploded');
                        button.addEventListener('click', onBoardCellLeftClick);
                        button.addEventListener('contextmenu', onBoardCellRightClick);
                        cell.appendChild(button);
                        cell.classList.add('board');
                        row.appendChild(cell);
                        row.classList.add('board');
                    }
                    board.appendChild(row);
                }
                playing = true;
            });
        };

        window.onload = () => {
            board = document.getElementById('board').tBodies[0];
            createNewBoard(5, 5, 5);
        }
    </script>
</head>

<body>
    <h1>Mineseweper</h1>
    <table>
        <tbody>
            <tr>
                <td>
                    <table id='board'>
                        <tbody>

                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>Width:</td>
                                <td><input type='number' min='0' value='5' id="width" /></td>
                            </tr>
                            <tr>
                                <td>Height:</td>
                                <td><input type='number' min='0' value='5' id="height" /></td>
                            </tr>
                            <tr>
                                <td>Mines:</td>
                                <td><input type='number' min='0' value='5' id="mines" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button style="width:100%;height:100%;" onclick="createNewBoard()">New</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>